.header-container {
  width: 100%;
  box-sizing: border-box;
  height: 5rem;
  margin: 0px;
  background-color: var(--header-color);
  color: #b5bfc3;
  position: sticky;
  z-index: 40;
  top: 0;
}

.logo {
  display: inline;
}

.buttons-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 25px;
  padding-left: 50px;
}
