.navigation-bar-container {
  max-height: calc(100vh - 5rem);
  position: sticky;
  box-sizing: border-box;
  background-color: var(--header-color);
  top: 5rem;
  bottom: 0;
}

.navigation-item {
  box-sizing: border-box;
  padding-inline-start: 1.5rem;
  padding-inline-end: .5rem;
  position: relative;
  text-align: start;
  border-radius: 5px;
  display: flex;
  box-sizing: border-box;
  margin: 0.5rem;
  padding: 7px;
  background-color: whitesmoke;
}

.navigation-item:hover {
  background-color: var(--main-color);
}
