.host-view {
  width: 100%;
  border-radius: 5px;
  height: 300px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.image {
  padding-left: 30px;
  margin-right: 10px;
}

.description {
  text-overflow: ellipsis;
}

.host-view:hover {
  background-color: var(--main-color);
  transform: translateY(-8px);
  opacity: 0.7;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.25), 0 8px 12px rgba(0, 0, 0, 0.2);
}

.host-title {
  padding-left: 30px;
}

.user-info-container {
  display: flex;
  box-sizing: border-box;
}

.term {
  padding-top: 20px;
  font: inherit;
  font-size: medium;
  font-weight: bold;
}
