.member-view {
  flex-basis: calc(100% / var(--colNum));
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
  padding: 10px 10px 10px 10px;
  box-sizing: border-box;
}

:root {
  --colNum: 3;
}

.host-member {
  padding: 10px 10px 10px 10px;
}

.members {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.activity {
  width: 100%;
  margin-bottom: 10px;
}

.activity-view {
  padding: 30px 70px 0px 70px;
  background-image: url('../../../public/background.png')
}
