body {
  margin: 0;
  padding: 0px;
  height: 100%;
}

h1 {
  font-size: 1.5em;
  line-height: 1.1;
}

h2 {
  font-size: 1.1em;
  line-height: 1.1;
  font-weight: lighter;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-color: #2c2c2c;
  --main-color: rgba(151, 71, 255, 1);
  --background: #b3afaffe;
  --background-button: #f9f9f9;
  --border-color: rgb(120, 117, 117);
}
