.title {
  margin-left: 10px;
  display: flex;
  justify-content: center;
}

.editable-card {
  width: 100%;
  border-bottom: var(--border-color) solid 1px;
  box-sizing: border-box;
}

.edit-area {
  width: 60%;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: start;
}

.input-field {
  text-decoration: none;
  resize: none;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
}

.input-field::placeholder {
  color: #aaaaaa;
}

.input-field:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
  -webkit-text-fill-color: var(--main-color);
}

.edit-button {
  height: 30px;
  border: 0px;
  margin: 0 10px 10px 10px;
  border-radius: 5px;
  font-size: 16px;
}

.edit-button:hover {
  background-color: var(--main-color);
}
